input[type=text] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 23px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 15px;
  border: 5px solid white;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  float: right;
}

form {
  display: flex;
  align-items: center
}
  
input[type=text]:focus {
  width: 400px;
  border: 5px solid white;
  outline: none;
  -webkit-box-shadow: inset 1px 1px 127px -30px rgba(0,0,0,0.4);
  -moz-box-shadow: inset 1px 1px 127px -30px rgba(0,0,0,0.4);
  box-shadow: inset 1px 1px 127px -30px rgba(0,0,0,0.4);
}

@media (max-width: 600px) {
  input[type=text]:focus {
    width: 350px;
  }
  input[type=text] {
    font-size: 18px
  }
  input placeholder {
    display: none
  }
}