.Navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 40px;
    color: white;
    opacity: 0;
    -webkit-animation: 1 fadein 1s forwards;
            animation: 1 fadein 1s forwards
}

.NasaLogo {
    height: 80px
}

@-webkit-keyframes fadein {
    100% {
        opacity: 1;
    }
}

@keyframes fadein {
    100% {
        opacity: 1;
    }
}

@media (max-width: 600px) {
    .Navbar {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column
    }
    .NasaLogo {
        margin-bottom: 20px
    }
}