.SingleThumbnail {
    width: 150px;
    height: 250px;
    display: inline-block;
    margin: 10px
}

.SingleThumbnail img {
    height: 150px;
    width: 150px;
    border-radius: 20px;
    border: 5px white solid
}

.AllSearchItems {
    padding: 50px
}