.SingleThumbnail {
    width: 200px;
    height: 250px;
    display: inline-block;
    margin: 10px;
    border: 1px solid white;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    vertical-align: top;
}

.SingleThumbnail:hover {
    background: lightgrey;
    color: #162e4a;
    cursor: pointer;
    filter: grayscale(80%);
}

.SingleThumbnail img {
    height: 200px;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 5px white solid
}

.SingleThumbnail p {
    font-size: 15px;
    margin: 0;
    padding: 0 10px;
}

.AllSearchItems {
    padding: 0 50px;
    height: 75vh;
    overflow: scroll;
}

.Results {
    font-size: 26px
}

a {
    color: white
}

@media (max-width: 600px) {
    .AllSearchItems {
        height: 60vh
    }
    .SingleThumbnail {
        width: 170px;
        height: 210px;
       
    }
    .SingleThumbnail img {
        height: 170px;
        border: 2px white solid
    }
    .SingleThumbnail p {
        font-size: 12px;
    }
}